# Virtual environment
env/

# Database
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc

